.happy-monkey-regular {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    /*
 --rich-black: #0d1321ff;
--indian-red: #c97064ff;
--alabaster: #ede7d9ff;
--vivid-sky-blue: #42cafdff;
--paynes-gray: #5c6d70ff;
    */
  }

  body {
    text-align: center;
    font-family: "Happy Monkey", system-ui;
    background: linear-gradient(#ede7d9ff, #0d1321ff);
    color:  #c97064ff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 2px black;
}

#bff-img {
    height: 300px;
    border-radius: 50%;
    border: 8px solid #0d1321ff;
    margin-bottom: 10px;
}

#bday-age {
    background: #0d1321ff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #0d1321ff;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 300px;
    border: 6px solid #5c6d70ff;
    border-radius: 10px;
    background-image: url("images/cover1.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.webp");
}

#gift-img-hot:hover {
    background-image: url("images/hot.webp");
}

#gift-img-genius:hover {
    background-image: url("images/awesome.webp");
    height: 200px;
}

#gift-img-badass:hover {
    background-image: url("images/you.webp");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.webp");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: #c97064ff;
}
  